<%- include('../partials/users/loginheader.ejs') %>


	<!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">

				<div   class="col-lg-6">
					<div style="background-color: azure;">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRToVE4CnMOIsaRz-LVi3IHRQFH1ZJZIdu8Eg&usqp=CAU" height="210%" width="100%" alt=" ">

						<div class="hover">
 						</div>
					</div>
				</div>

				<div   class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						
						
						<h3>Welcome Back ! <br>
                            Please Login in now</h3>
							<h1 style="color: white;">test</h1>
						<form class="row login_form" action="" method="post" id="register_form">
							
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email"
									placeholder="Email Address" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Email Address'" required="email">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" required id="password" name="password"
									placeholder="Password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Password'">
							</div>
						
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<!-- <input type="checkbox" id="f-option2" name="selector"> -->
									<!-- <label for="f-option2">Keep me logged in</label> -->
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit"
									class="button button-register w-100">Login</button>
							</div>
							<a href="/forgotpassword">Forget password</a>
							<a style="margin-left: 32%;"  href="/register">Create a new account</a>

						</form>

						<% if(typeof message !=='undefined' ){ %>
							<h4>
							  <%= message %>
							</h4>
							<% } %>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	
	<script>
        const Fname=document.getElementById('form2Example11')
        const password = document.getElementById('form2Example22')

        password.addEventListener('input',() => {
          if(password.value.trim().length< 8){
          password.setCustomValidity('Password must 8 digit')
          }else{
            password.setCustomValidity("")
          }
        })
        Fname.addEventListener('input',()=>{
          if(Fname.value.trim().length==''){
            Fname.setCustomValidity('Must fill this field')
          }

        })
       
      </script>
	
	</body>
	
	</html>
